<style>
    .message-content{
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }
</style>

<div class="message-content">
    <img src="../../../assets/logo.svg" alt=""/>
    <h4>Olá {{name}},</h4>
    <p>Aqui está o link para recuperação da sua senha. Vale lembrar que ele expira em duas horas.</p>
    </br>
    <a href={{link}}>Recupere sua senha</a>
    </br>
    <p>Atenciosamente, </p>
    <strong>Equipe GoBarber</strong>
    </br>
    </br>
    </br>
    <p>Não solicitou? Talvez estejam tentando acessar sua conta. Mude sua senha agora!</p>
    </br>
    <strong>(R)GoBarber 2020. Rua das baleias franca, 341, Jurerê, Florianópolis, 88053-515, SC.</strong>

</div>